<div class="col-sm-6">
  <form id="add-task-form">
	  <div class='col-sm-6' style="padding-left: 0px;padding-right: 0px;">
	  	<div class="form-group">
	  		<div class='input-group date' id='datetimepicker6'>
	  			<input type='text' name='task[start]' class="form-control" placeholder="开始时间"/>
	  			<span class="input-group-addon">
	  				<span class="glyphicon glyphicon-calendar"></span>
	  			</span>
	  		</div>
	  	</div>
	  </div>
	  <div class='col-sm-6' style="padding-left: 0px;padding-right: 0px;">
	  	<div class="form-group">
	  		<div class='input-group date' id='datetimepicker7'>
	  			<input type='text' name="task[end]" class="form-control" placeholder="结束时间" />
	  			<span class="input-group-addon">
	  				<span class="glyphicon glyphicon-calendar"></span>
	  			</span>
	  		</div>
	  	</div>
	  </div>
    <div class="form-group">
	    <div class="input-group">
	    	<input type="text" name="task[content]" class="form-control" placeholder="输入你的任务～">
	    	<span class="input-group-btn">
	    		<button id="task-add-btn" class="btn btn-default" type="button">添加</button>
	    	</span>
      </div><!-- /input-group -->
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">当前任务</h3>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>任务内容</th>
            <th>状态</th>
            <th>开始时间</th>
            <th>结束时间</th>
          </tr>
        </thead>
        <tbody id="current-tasks-list">
        <%= render partial: 'list', locals: {tasks: @current_tasks}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">历史任务</h3>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>任务内容</th>
          <th>状态</th>
          <th>开始时间</th>
          <th>结束时间</th>
        </tr>
      </thead>
      <tbody id="tasks-list">
      <%= render partial: 'list', locals: {tasks: @history_tasks }%>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改任务</h4>
      </div>
      <div class="modal-body">
        <form id="task-edit-form">
		    <div class="form-group">
		    	<div class='input-group date' id='datetimepicker8'>
		    		<input id="task-start-edit" type='text' name='task[start]' class="form-control" placeholder="开始时间"/>
		    		<span class="input-group-addon">
		    			<span class="glyphicon glyphicon-calendar"></span>
		    		</span>
		    	</div>
		    </div>

		    <div class="form-group">
		    	<div class='input-group date' id='datetimepicker9'>
		    		<input id="task-end-edit" type='text' name="task[end]" class="form-control" placeholder="结束时间" />
		    		<span class="input-group-addon">
		    			<span class="glyphicon glyphicon-calendar"></span>
		    		</span>
		    	</div>
		    </div>

	      <div class="input-group">
	      	<input id="task-content-edit" type="text" name="task[content]" class="form-control" placeholder="输入你的任务～">
	      	<span class="input-group-btn">
	      		<button id="task-add-btn" class="btn btn-default" type="button">添加</button>
	      	</span>
	      </div><!-- /input-group -->
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="task-edit-btn" type="button" class="btn btn-primary">修改</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker6').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
		$('#datetimepicker7').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY-MM-DD HH:mm:ss'
        });
		$("#datetimepicker6").on("dp.change", function (e) {
			$('#datetimepicker7').data("DateTimePicker").minDate(e.date);
		});
		$("#datetimepicker7").on("dp.change", function (e) {
			$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
		});

		$('#datetimepicker8').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss'});
		$('#datetimepicker9').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'YYYY-MM-DD HH:mm:ss'
        });
		$("#datetimepicker8").on("dp.change", function (e) {
			$('#datetimepicker9').data("DateTimePicker").minDate(e.date);
		});
		$("#datetimepicker9").on("dp.change", function (e) {
			$('#datetimepicker8').data("DateTimePicker").maxDate(e.date);
		});
	});

	$('#task-add-btn').click(function() {
		$.ajax({
			url: "/tasks",
			type: 'POST',
			data: $('#add-task-form').serialize(),
			success: function(data, textStatus, jqXHR) {
				console.log("success!");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log("failed!");
			}
		});
	});

$('#task-edit-btn').click(function() {
    $.ajax({
      url: '/tasks/' + $(this).data('id'),
      type: 'PUT',
      data: $('#task-edit-form').serialize(),
			success: function(data, textStatus, jqXHR) {
				console.log("success!");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log("failed!");
			}
      });
    });
</script>
