<div class="col-sm-6">
  <form id="add-task-form">
    <div id="date-range" class="row" style="margin: 0px 0px;">
	  <div class='col-sm-6' style="padding: 0px;">
	  	<div class="form-group">
	  		<div class='input-group'>
	  			<input id="task-start" type='text' name='task[start]' class="form-control" placeholder="开始时间" />
	  			<span class="input-group-addon">
	  				<span class="glyphicon glyphicon-calendar"></span>
	  			</span>
	  		</div>
	  	</div>
	  </div>
	  <div class='col-sm-6' style="padding: 0px;">
	  	<div class="form-group">
	  		<div class='input-group'>
	  			<input id="task-end" itype='text' name="task[end]" class="form-control" placeholder="结束时间"  />
	  			<span class="input-group-addon">
	  				<span class="glyphicon glyphicon-calendar"></span>
	  			</span>
	  		</div>
	  	</div>
	  </div>
	</div>
    <div class="form-group">
	    <div class="input-group">
	    	<input type="text" name="task[content]" class="form-control" placeholder="输入你的任务～">
	    	<span class="input-group-btn">
	    		<button id="task-add-btn" class="btn btn-default" type="button">添加</button>
	    	</span>
      </div>
    </div>
  </form>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">当前任务</h3>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>任务内容</th>
            <th>状态</th>
            <th>时间</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="current-tasks-list">
        <%= render partial: 'list', locals: {tasks: @current_tasks}%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-sm-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">历史任务</h3>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>任务内容</th>
          <th>状态</th>
          <th>时间</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="tasks-list">
      <%= render partial: 'list', locals: {tasks: @history_tasks }%>
      </tbody>
    </table>
  </div>
  <div style="float: right;" id="history-paginate-div">
    <%= render partial: 'paginate_div', locals: {tasks: @history_tasks}%>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="task-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改任务</h4>
      </div>
      <div class="modal-body">
        <form id="task-edit-form">
          <div id="edit-date-range" class="row" style="margin: 0px 0px;">
		    <div class="form-group col-sm-6"  style="padding: 0px;">
		    	<div class='input-group'>
		    		<input id="task-start-edit" type='text' name='task[start]' class="form-control" placeholder="开始时间"/>
		    		<span class="input-group-addon">
		    			<span class="glyphicon glyphicon-calendar"></span>
		    		</span>
		    	</div>
		    </div>

		    <div class="form-group col-sm-6"  style="padding: 0px;">
		    	<div class='input-group'>
		    		<input id="task-end-edit" type='text' name="task[end]" class="form-control" placeholder="结束时间" />
		    		<span class="input-group-addon">
		    			<span class="glyphicon glyphicon-calendar"></span>
		    		</span>
		    	</div>
		    </div>
		  </div>
	      <div class="form-group">
	      	<input id="task-content-edit" type="text" name="task[content]" class="form-control">
	      </div><!-- /input-group -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="task-edit-btn" type="button" class="btn btn-primary">修改</button>
      </div>
    </div>
  </div>
</div>

<div id="task-destroy-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">是否删除该任务？</h4>
      </div>
      <div class="modal-body">
        <p id="task-title"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <a id="task-destroy-a" data-remote="true" class="btn btn-danger" rel="nofollow" data-method="delete" href="">删除</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$('#date-range').dateRangePicker(
	{
		separator : ' to ',
		language: 'cn',
		getValue: function()
		{
			if ($('#task-start').val() && $('#task-end').val() )
				return $('#task-start').val() + ' to ' + $('#task-end').val();
			else
				return '';
		},
		setValue: function(s,s1,s2)
		{
			$('#task-start').val(s1);
			$('#task-end').val(s2);
		}
	});

	$('#edit-date-range').dateRangePicker(
	{
		separator : ' to ',
		language: 'cn',
		getValue: function()
		{
			if ($('#task-start-edit').val() && $('#task-end-edit').val() )
				return $('#task-start-edit').val() + ' to ' + $('#task-end-edit').val();
			else
				return '';
		},
		setValue: function(s,s1,s2)
		{
			$('#task-start-edit').val(s1);
			$('#task-end-edit').val(s2);
		}
	});

	$('#task-add-btn').click(function() {
		$.ajax({
			url: "/tasks",
			type: 'POST',
			data: $('#add-task-form').serialize(),
			success: function(data, textStatus, jqXHR) {
				console.log("success!");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log("failed!");
			}
		});
	});

$('#task-edit-btn').click(function() {
    $.ajax({
      url: '/tasks/' + $(this).data('id'),
      type: 'PUT',
      data: $('#task-edit-form').serialize(),
			success: function(data, textStatus, jqXHR) {
				console.log("success!");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log("failed!");
			}
      });
    });

$(document).on('click', '.task-done', function() {
    $.ajax({
      url: "/tasks/change_status",
      type: 'PUT',
      data: {'id': $(this).parent().parent().data('id'), 'status': $(this).val()},
			success: function(data, textStatus, jqXHR) {
				console.log("success!");
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log("failed!");
			}
      });
    })
$(document).on('click', '.task-edit', function() {
    $('#task-edit-modal').modal('toggle');
    $('#task-start-edit').val($(this).parent().parent().find('.task-start').text());
    $('#task-end-edit').val($(this).parent().parent().find('.task-end').text());
    $('#task-content-edit').val($(this).parent().parent().find('.task-content').text());
    $('#task-edit-btn').data('id', $(this).parent().parent().data('id'));
    return false;
    });
$(document).on('click', '.task-destroy', function() {
	$('#task-destroy-modal').modal('toggle');
	$('#task-title').text($(this).parent().parent().find('.task-content').text());
	$('#task-destroy-a').attr('href', "/tasks/" + $(this).parent().parent().data('id'));
	return false;
})
$('#task-destroy-a').click(function() {
	$('#task-destroy-modal').modal('toggle');
})
</script>
